<!DOCTYPE html>{% extends 'base.html' %}
{% block htmlhead %}
    <title>设置Cookie</title>
{% endblock %}
{% block htmlbody %}
    <div class="container">
        <br>
        <h1>设置cookie</h1>
        <br>
        <form action="./setCookie" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-10 form-group">
                    <input type="text" class="form-control" name="cookie">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary" style="float: right;">提交</button>
                </div>
            </div>
            <br>
        </form>

        <h5>如何获取米游社Cookie？</h5>
        1. 打开你的浏览器,进入无痕/隐身模式（由于米哈游修改了bbs可以获取的Cookie，导致一次获取的Cookie缺失，所以需要增加步骤）<br>
        2. 打开http://bbs.mihoyo.com/ys/并进行登入操作<br>
        3. 在上一步登入完成后新建标签页，打开http://user.mihoyo.com/并进行登入操作<br>
        4. 按下键盘上的F12或右键检查,打开开发者工具,点击Console<br>
        5. 输入下方代码回车执行，并在确认无误后点击确定，此时Cookie已经复制到你的粘贴板上了<br>
        <div class="alert alert-dark">
            <code>var cookie=document.cookie;var ask=confirm('Cookie:'+cookie+'\n\n你是否想要将其复制到剪切板？');if(ask==true){copy(cookie);msg=cookie}else{msg='Cancel'}</code>
        </div>

    </div>
{% endblock %}